/* CSS RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* COLOR PALETTE AND TYPOGRAPHY 
https://hexcolorpedia.com/665626_a7921f_6e7a31_8b8130_506224/ 
*/
body {
    background-color: #6e7a31;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}








/* NAVIGATION BAR */
.nav {
    background-color: #506224;
    overflow: hidden;
}

.nav a {
    float: right;
    display: block;
    color: #a7921f;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav a:hover {
    background-color: #8b8130;
    color: black;
}

.nav a.active {
    background-color: #3c4b1b;
    color: #a7921f;
}

.nav .icon {
    display: none;
}





/* MEDIA QUERIES */
@media screen and (max-width: 600px) {
    .nav a:not(:first-child) {display: none;}
    .nav a.icon {
      float: left;
      display: block;
    }
  }

@media screen and (max-width: 600px) {
    .nav.responsive {
        position: relative;
    }
    
    .nav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .nav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}